# GET DATA IRIS 
Import pyodbc untuk menyambungkan ke SQL server. 
Import pandas untuk menganalisis data serta membangun sebuah machine learning.
Psycopg2 adalah adaptor database postgreSQL paling populer untuk bahasa pemrograman python. 
MySQLConnector untuk menghubungkan ke server database MySQL.

In [ ]:
import pyodbc
import pandas as pd
import psycopg2
import mysql.connector

# POSTGRESQL LOCAL (SEPALLENGTH)
Mengambil data iris dari postgres dengan memasukkan password sesuai yang kita buat sebelumnya. Lalu disini saya memakai aplikasi tambahan bernama ngrok untuk host nya. Disini kita hanya mengambil data kolom sepallength.

In [ ]:
conn = psycopg2.connect(
    database="postgres",
    user="postgres",
    password="ovadilla20",
    host="0.tcp.ap.ngrok.io",
    port="19809"
)

cur = conn.cursor()

cur.execute("SELECT sepallength FROM public.iris ORDER BY id")

sl = cur.fetchall()

sl=pd.DataFrame(sl,columns=['SepalLength'])

sl.head()

# POSTGRESQL ELEPHANT (SEPALWIDTH)
Selanjutnya kita membutuhkan data kolom sepalwidth. Sebelum itu kita harus membuat akun pada elephant agar mendapatkan username dan password untuk diletakkan pada password dan host dalam koneksi.

In [ ]:
conn = psycopg2.connect(
    database="haeodwip",
    user="haeodwip",
    password="2nue9guRYq17xgDY8-KFLaQ56_8vstox",
    host="floppy.db.elephantsql.com",
    port="5432"
)

cur = conn.cursor()

cur.execute("SELECT sepalwidth FROM iris ORDER BY id")

sw = cur.fetchall()

sw=pd.DataFrame(sw,columns=['SepalWidth'])
sw.head()

# MYSQL LOCAL (PETALLENGTH) 
Untuk data kolom petallength diambil dari mysql yang menggunakan host ngrok. Dengan nama database "prosain200411100033".

In [ ]:
conn = mysql.connector.connect(
    host="0.tcp.ap.ngrok.io",
    port="10745",
    user="root",
    password="",
    database="prosain200411100033"
)

mycursor = conn.cursor()

mycursor.execute("SELECT PetalLength FROM iris ORDER BY id;")

myresult = mycursor.fetchall()

# plot the data to data frame
pl = pd.DataFrame(myresult, columns=['PetalLength',])
pl.head()

# SQL SERVER (PETAL, WIDTH, CLASS)
Mengambil data petalwidth dan class dari prosain200411100033

In [ ]:
cnxn = pyodbc.connect(r'Driver=ODBC Driver 17 for SQL Server;Server=DESKTOP-8B4VF7C\SQLEXPRESS;Database=prosain20041;Trusted_Connection=yes;')  
cursor = cnxn.cursor()

# select 26 rows from SQL table to insert in dataframe.
query = "SELECT PetalWidth, Class FROM [prosain20041].[dbo].[iris]"
pwcls = pd.read_sql(query, cnxn)
pwcls.head()

Menggabungkan semua data frame yang sudah diperoleh diatas. Terakhir diimport menjadi csv semuanya.

In [ ]:
df = pd.concat([sl, sw, pl, pwcls], axis=1)
df.head()
df

In [ ]:
sl.to_csv("postgree_lokal.csv", index=False)
sw.to_csv("postgree_elephant.csv", index=False)
pl.to_csv("mysql.csv", index=False)
pwcls.to_csv("sql_server.csv", index=False)